<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Auth</title>
    <link rel="stylesheet" href="/stylesheets/weui/weui.min.css"/>
</head>
<body ontouchstart="">
    <h1>Hei Hei</h1>
    <a class="weui_btn weui_btn_primary" href="<%= wechatAuthUrlUserInfo %>">snsapi_userinfo</a>
    <a class="weui_btn weui_btn_primary" href="<%= wechatAuthUrlBase %>">snsapi_base</a>
</body>
</html>
