<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>UserInfo</title>
    <link rel="stylesheet" href="/stylesheets/weui/weui.min.css"/>
</head>
<body>
    <h1>Ha Ha</h1>

    <%if(errMsg) {%>
    <div class="weui_cells_title">错误</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>error</p>
            </div>
            <div class="weui_cell_ft">
                <%=errMsg%>
            </div>
        </div>
    </div>
    <%};%>

    <%if(userInfo){%>
    <div class="weui_cells_title">用户信息</div>
    <div class="weui_cells">
        <% Object.keys(userInfo).forEach(function (key) { %>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p><%=key%></p>
            </div>
            <div class="weui_cell_ft">
                <%if(key == 'headimgurl'){%>
                    <img src="<%=userInfo[key]%>" alt="" style="width:31px;display:block">
                <%}else {%>
                    <%=userInfo[key]%>
                <%}%>
            </div>
        </div>
        <% });%>
    </div>
    <%};%>
</body>
</html>
